.title {
  color: #333;
  padding: 20px 0 0px 0;
  font-size: 32px;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.movieTitle {
  color: #4b4b4b;
  font-weight: 700;
  font-size: 19px;
}
.card {
  cursor: pointer;
  background: #fff;
  padding: 20px;
  text-align: center;
  margin: 20px 10px 0 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 11%), 0 6px 20px 0 rgb(0 0 0 / 14%);
}
.movieLanguage {
  color: #777;
  font-weight: 700;
}
.moviesContainer {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 100px;
}
.addMovieButton {
  margin-bottom: 30px;
  background: #4979ff;
}
.event_view_theme{
  color: #fff;
  background: #000106;
  position: relative;
    z-index: 1;
}
.event_cover_box{
  position: relative;
    z-index: 1;
    background: #000106;
}
.poster_cover_box{
  position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 4;
    background: #000106;

}
.bg_blur_cover{
  background-image: url('https://admin.mawastudiothailand.com/images/mawastudio/img/S__50823175.jpg');
    filter: blur(10px);
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.theme_hero_area_body{
  position: relative;
  z-index: 6;
  height: 100%;
}
